/** Player **/
#player {	
}

#player input[type="range"] {
	display: none;
}

#player .rangeslider__handle {
	/*width: 25px;
	height: 25px;
	top: -2px;*/
	display: none;
}

#player .rangeslider__fill {
	background: #FFE000;
	border-radius: 0px;
}

#player .rangeslider {
	border-radius: 0px;	
}

.player-info {
	overflow: hidden;
	display: none;
}

.player-output {
	display: inline-block;
	font-size: 20px;
	text-align: center;
	margin: 10px 0;
}

.player-title {
	font-size: 25px;
	margin-top: 8px;
	margin-left: 30px;
	text-align: center;
	color: #808080;
}

.player-currenttime {
	float: left;
	margin-left: 30px;
}

.player-totaltime {
	float: right;
	margin-right: 30px;
}